.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
!terraform/environments/**/*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.idea/
.vscode/
Thumbs.db
.DS_Store
