terraform {
  backend "azurerm" {
    resource_group_name  = "rg-terraform-state"
    storage_account_name = "sttfstateexample"
    container_name       = "tfstate"
    key                  = "avd/dev.tfstate"
    use_oidc             = true
  }
}

