.git
.github
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
__pycache__
*.pyc
*.egg-info
build
dist
venv
.venv
tests
docs
deploy
examples
costdetective.yaml
.env
*.tfstate*
tfplan*
